.p {
    color: wheat;
    font-size: 14px;
}

.nt {
    color: yellow;
    font-size: 14px;
}

.s {
    color: blueviolet;
    font-size: 14px;
}

.s1 {
    color: plum;
    font-size: 14px;
}

.s2 {
    color: lightcoral;
    font-size: 14px;
}